
@{
    ViewBag.Title = "PTT Smart EIA Regulatory";
    Layout = "~/Views/Shared/Content_Layout.cshtml";
}

<head>

    <style>
        .map {
            background-color: #fff;
            width: 100%;
            padding: 5px;
            height: 700px;
            float: left;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        #Resulte,#Lengthofrunway,#RiverArea,#WildArea{
            display: none;
        }
    </style>

</head>
<body onload="initMap()">
    <div class="xxx" style="padding: 5px 0px 5px 5px; display: flex; flex-wrap:wrap;">
        <div class="header-banner">
            <div class="btx">
                <div class="img-ss">
                    <img src="@Url.Content("~/Content/template/")img/link-14.svg" alt="" width="90px" height="90px">
                </div>
                <p>
                    16. โครงการระบบขนส่งทางอากาศ
                </p>
            </div>
        </div>
    </div>
    <div class="contain-index" style="padding: 15px 0px; background-color: #e7eef1; overflow-x: hidden;">
        <div class="row" style=" margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-12 nopadding">
                <span class="ss-btn" onclick="ss_l_menu()"><i class="fas fa-chevron-right"></i></span>
                <div class="l-menu bg-gg nopadding">
                    <div class="data-col">
                        <p class="ddda">
                            1.ระบุที่ตั้งโครงการ
                        </p>
                        <div class="pp-list">
                            <div class="list-p" onclick="sliderr(1)">
                                <p class="hh">
                                    พิกัดที่ตั้ง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-1">
                                <div class="sl-input" id="sd-1">
                                    <h5> ระบุพิกัด UTM WGS 84 </h5>
                                    <p>Zone:  <select><option>47</option> <option>48</option></select></p>
                                    <hr />
                                    <p>East:  <input type="text" /></p>
                                    <p>North: <input type="text" /></p>
                                    <button class="ee-bb">OK</button>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(2)">
                                <p class="hh">
                                    กำหนดเอง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-2">
                                <div class="sl-input" id="sd-2">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                        
                                     </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(3)">
                                <p class="hh">
                                    ตำแหน่งจากข้อมูล kmz ไฟล์
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-3">
                                <div class="sl-input" id="sd-3">
                                    <button>Import Kmz</button>
                                    <button>Clear</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(4)">
                                <p class="hh">
                                    ไม่ระบุที่ตั้งโครงการ
                                </p>
                            </div>
                            <!--
        <div class="dt-slide" id="ss-4">
            <div class="sl-input" id="sd-4">
                <button>Add placemark</button>
                <button>Draw line or shape</button>
                <textarea class="txa-50" rows="5" cols="50">

                </textarea>
            </div>
        </div>-->
                        </div>
                    </div>

                </div>
                <div class="row no_mr">
                    <div class="col-md-8">
                        <div class="map">
                            <div id="map"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="nopadding ">
                            <div class="data-col">
                                <div class="specify">
                                    <p class="ddda" style="margin-top: 10px;">
                                        2.ระบุรายละเอียดโครงการ
                                    </p>
                                    <!--class="form-control"-->

                                    <div id="Typeofactivity">
                                        <p>
                                            ลักษณะกิจกรรม

                                            <select id="selectTypeofactivity" class="form-control">
                                                <option selected value="none"> --เลือกลักษณะกิจกรรม--</option>
                                                <option value="1">
                                                    ก่อสร้างหรือขยาย สนามบิน
                                                </option>
                                                <option value="2">
                                                    ก่อสร้างหรือขยาย ที่วิ่งขึ้นลงชั่วคราวของอากาศยาน
                                                </option>
                                            </select>
                                        </p>
                                    </div>

                                    <div id="Lengthofrunway">
                                        <p>
                                            ความยาวของทางวิ่ง

                                            <select id="selectLengthofrunway" class="form-control">
                                                <option selected value="none"> --เลือกความยาวของทางวิ่ง--</option>
                                                <option value="1">
                                                    น้อยกว่า 1,100 เมตร
                                                </option>
                                                <option value="2">
                                                    มากกว่าหรือเท่ากับ 1,100 ถึง น้อยกว่า 3,000 เมตร
                                                </option>
                                                <option value="3">
                                                    มากกว่าหรือเท่ากับ 3,000 เมตร
                                                </option>
                                            </select>
                                        </p>
                                        <div class="pc-btn">
                                            <button class="ee-bb" id="BtnLengthofrunway">ตกลง</button>
                                        </div>
                                    </div>

                                    <div id="RiverArea">
                                        <p>
                                            พื้นที่ชั้นคุณภาพลุ่มน้ำชั้น 1  <label style="float:right;"><input type="checkbox" id="s1" onClick="Select1()"  />  กำหนดเอง</label>
                                            <!--พื้นที่ลุ่มน้ำ 1-->

                                                                            <select id="selectRiverArea" class="form-control" disabled>
                                                                                <option value="1" selected>
                                                                                    อยู่
                                                                                </option>
                                                                                <option value="2">
                                                                                   อยู่บางส่วน
                                                                                </option>
                                                                                <option value="2">
                                                                                    ไม่อยู่
                                                                                </option>
                                                                            </select>
                                        </p>
                                        <div class="pc-btn">
                                            <button class="ee-bb" id="BtnRiverArea">ตกลง</button>
                                        </div>
                                    </div>

                                    <div id="WildArea">
                                        <p>
                                           พื้นที่ป่าอนุรักษ์เพิ่มเติมตามมติ ครม. <label style="float:right;"><input type="checkbox" id="s2" onClick="Select2()" />  กำหนดเอง</label>
                                            <!--พื้นที่ป่าอนุรักษ์เพิ่มเติมตามมติ ครม.-->

                                            <select id="selectWildArea" class="form-control" disabled>
                                                <option value="1" selected>
                                                    อยู่ใน
                                                </option>
                                                <option value="2">
                                                    ไม่อยู่
                                                </option>
                                            </select>
                                        </p>
                                        <div class="pc-btn">
                                            <button class="ee-bb" id="BtnWildArea">ตกลง</button>
                                        </div>
                                    </div>
                                </div>

                                <div id="Resulte">
                                    <h4 style="width:100%; text-align:left;"><u>สรุปผล</u></h4>
                                    <p id="label1">โครงการ กิจการ หรือการดำเนินการ <u id="changeLabel" style="color:red;">เข้าข่าย</u> ต้องจัดทำรายงานด้านสิ่งแวดล้อม</p>
                                    <hr />
                                    <div id="inresulte">
                                        <h5 id="label2">ประเภท</h5>
                                        <p id="labeltype">
                                            EHIA
                                        </p>
                                        <hr />
                                        <h5 id="label3">เสนอต่อ</h5>
                                        <p style="width:100%;">
                                            <img id="imLogo"src="" width="50px" height="50px" style="background-color:white;" />
                                            <label style="width:80%;" id="labeloffer">สผ.</label>
                                        </p>
                                        <hr />
                                        <h5 id="label4">ตามกฎหมาย</h5>
                                        <p id="labellaw">เรื่อง...</p>
                                        <hr />
                                    </div>
                                    <div class="pc-btn">  <button class="ee-bb" onclick="hideresulte()">&uarr; ย้อนกลับ</button></div><br />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-banner">
        <div class="ffff">

        </div>
    </div>
</body>

<script>
        /*map*/
        var map;
        function initMap() {
            var latlng = new google.maps.LatLng(13.7651624, 100.893642);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), myOptions);
        }
         /*slide*/
        function sliderr(n) {
            var dis = $('#ss-' + n).css('display');
            console.log(dis);
            if (dis == 'none') {
                $("#ss-" + n).css("display", "block");
                $("#sd-" + n).css("height", "auto");

            } else {
                $("#ss-" + n).css("display", "none");
                $("#sd-" + n).css("height", "0px");
            }
        }
        function ss_l_menu() {
            if ($(".ss-btn").hasClass("ww-100")) {
                $(".ss-btn").removeClass("ww-100");
                $(".l-menu").animate({ "left": "-400px" }, 300, "swing");
                $(".ss-btn").animate({ "left": "0px" }, 300, "swing");
                $(".ss-btn").html('<i class="fas fa-chevron-right"></i>')
            } else {
                $(".ss-btn").addClass("ww-100");
                $(".l-menu").animate({ "left": "0px" }, 300, "swing");
                $(".ss-btn").animate({ "left": "360px" }, 300, "swing");
                $(".ss-btn").html('<i class="fas fa-chevron-left"></i>')
            }

        }
        function ss_r_menu() {
            if ($(".ss-r-btn").hasClass("ww-100")) {
                $(".ss-r-btn").removeClass("ww-100");
                $(".r-menu").animate({ "right": "-400px" }, 300, "swing");
                $(".ss-r-btn").animate({ "right": "0px" }, 300, "swing");
                $(".ss-r-btn").html('<i class="fas fa-chevron-left"></i>')
            } else {
                $(".ss-r-btn").addClass("ww-100");
                $(".r-menu").animate({ "right": "0px" }, 300, "swing");
                $(".ss-r-btn").animate({ "right": "360px" }, 300, "swing");
                $(".ss-r-btn").html('<i class="fas fa-chevron-right"></i>')
            }

        }
        function hideresulte() {
            $("#Resulte").hide();
        $("#resulteNext").hide();
        $(".specify").show();
    }


    function Select1()
    {
             var isChecked = document.getElementById("s1").checked;
             document.getElementById("selectRiverArea").disabled = !isChecked;
    }

    function Select2()
    {
             var isChecked = document.getElementById("s2").checked;
             document.getElementById("selectWildArea").disabled = !isChecked;
    }
    $(document).ready(function () {



        $('#selectTypeofactivity').on('change', function () {
            if (this.value == "none") {

            }
            else {
                $("#Lengthofrunway").show();
                $("#BtnLengthofrunway").click(function () {
                    var Lengthofrunway = $('#selectLengthofrunway').find(":selected").val(); 
                    if (Lengthofrunway == "1") {
                        $("#RiverArea").show();
                        $("#BtnRiverArea").click(function () {
                            var RiverArea = $('#selectRiverArea').find(":selected").val(); 
                            if (RiverArea == "1") {
                            /*EIA*/
                                 $("#WildArea").hide();
                                 $(".specify").hide();

                        $("#inresulte").show();

                        $("#Resulte").show();

                        document.getElementById('changeLabel').innerHTML = "เข้าข่าย";

                        document.getElementById('changeLabel').style.color = 'Red';

                        document.getElementById('labeltype').innerHTML = " รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                                
        $("#imLogo").attr("src","/Image/สผ.png");
                        document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";

                        document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำ EIA (ลำดับที่ 27)";
                         

                            } else {
                                $("#WildArea").show();
                                $("#BtnWildArea").click(function () {
                                    var WildArea = $('#selectWildArea').find(":selected").val();
                                    if (WildArea == "1") {
                                    /*รายการข้อมูลด้านสิ่งแวดล้อม (Environmental Checklist)*/
                                         $(".specify").hide();
                                        $("#inresulte").show();
                                        $("#Resulte").show();
                                        document.getElementById('changeLabel').innerHTML = "เข้าข่าย";
                                        document.getElementById('changeLabel').style.color = 'Red';
                                        document.getElementById('labeltype').innerHTML = "รายการข้อมูลด้านสิ่งแวดล้อม (Environmental Checklist)";
                                        $("#imLogo").attr("src", "/Image/สผ.png");
                                        document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
                                        document.getElementById('labellaw').innerHTML = "มติคณะรัฐมนตรี เรื่อง การทบทวนการกำหนดประเภทและขนาดโครงการของหน่วยงานของรัฐที่ต้อเสนอรายงานการวิเคราะห์ผลกระทบสิ่งแวดล้อม ตามมติคณะรัฐมนตรีเกี่ยวกับป่านอนุรักษ์เพิ่มเติม";

                                    }
                                    else {
                                    /*ไม่ต้องทำรายงาน*/
                                        $(".specify").hide();
                                        $("#inresulte").hide();
                                        $("#Resulte").show();
                                        document.getElementById('changeLabel').innerText = "ไม่เข้าข่าย";
                                        document.getElementById('changeLabel').style.color = 'Green';
                                    }
                                });
                            }

                        });

                    }
                    else if (Lengthofrunway == "2") {
                    /*EIA*/
                        $("#WildArea").hide();
                        $("#RiverArea").hide();
                         $(".specify").hide();

                        $("#inresulte").show();

                        $("#Resulte").show();

                        document.getElementById('changeLabel').innerHTML = "เข้าข่าย";

                        document.getElementById('changeLabel').style.color = 'Red';

                        document.getElementById('labeltype').innerHTML = " รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
                        
                         $("#imLogo").attr("src","/Image/สผ.png");
                        document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";

                        document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำ EIA (ลำดับที่ 27)";
                                                       
                    }
                    else if (Lengthofrunway == "3") {
                    /*EHIA*/
                        $("#WildArea").hide();
                        $("#RiverArea").hide();
                        $(".specify").hide();

                        $("#inresulte").show();

                        $("#Resulte").show();

                        document.getElementById('changeLabel').innerHTML = "เข้าข่าย";

                        document.getElementById('changeLabel').style.color = 'Red';

                        document.getElementById('labeltype').innerHTML = "รายงานการประเมินผลกระทบสิ่งแวดล้อม สำหรับโครงการ กิจการ หรือการดำเนินการฯ ที่อาจมีผลกระทบอย่างรุนแรง (EHIA)";
    
                        $("#imLogo").attr("src","/Image/สผ.png");
                        document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";

                        document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำรายงาน EHIA (ลำดับที่ 4)";


                    }
                    else {
                        alert("กรุณาเลือกความยาวของทางวิ่ง");
                    }


                });

            }
        });


         

       









    });


</script>
