@{
    ViewBag.Title = "PTT Smart EIA Regulatory";
    Layout = "~/Views/Shared/Content_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&libraries=drawing"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDd33TLAVehao--qEJ9u7j7ZNSjN1315C0&libraries=drawing&callback=initMap"
            async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


    <style>

        .map {
            background-color: #fff;
            width: 100%;
            padding: 5px;
            height: 700px;
            float: left;
        }

        #map {
            width: 100%;
            height: 100%;
        }
     
       /**      #Resulte{
            display: none;
        }*/
      

        #color-palette {
            clear: both;
        }

        .color-button {
            width: 14px;
            height: 14px;
            font-size: 0;
            margin: 2px;
            float: left;
            cursor: pointer;
        }

        #delete-button {
            margin-top: 5px;
        }
    </style>

</head>
<body onload="initMap()">
    <div class="xxx" style="padding: 5px 0px 5px 5px; display: flex; flex-wrap:wrap;">


        <div class="header-banner">
            <div class="btx">
                <div class="img-ss">
                    <img src="@Url.Content("~/Content/template/")img/link-2.svg" alt="" width="90px" height="90px">
                </div>
                <p>
                    2.โครงการระบบขนส่งปิโตรเลียมและน้ำมันเชื้อเพลิงทางท่อ
                </p>
            </div>
        </div>
    </div>

    <div class="contain-index" style="padding: 15px 0px; background-color: #e7eef1; overflow-x: hidden;">
        <div class="row" style=" margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-12 nopadding">
                <span class="ss-btn" onclick="ss_l_menu()"><i class="fas fa-chevron-right"></i></span>
                <div class="l-menu bg-gg nopadding">
                    <div class="data-col">
                        <p class="ddda">
                            1.ระบุที่ตั้งโครงการ
                        </p>
                        <div class="pp-list">
                            <div class="list-p" onclick="sliderr(1)">
                                <p class="hh">
                                    พิกัดที่ตั้ง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-1">
                                <div class="sl-input" id="sd-1">
                                    <h5> ระบุพิกัด UTM WGS 84 </h5>
                                    <p>Zone:  <select><option>47</option> <option>48</option></select></p>
                                    <hr />
                                    <p>East: <!--lat--> <input id="lat" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" /></p>
                                    <p>North:<!--lng--> <input id="lng" type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" /></p>
                                    <button class="ee-bb" onclick="">OK</button>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(2)">
                                <p class="hh">
                                    กำหนดเอง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-2">
                                <div class="sl-input" id="sd-2">
                                    <button onclick="">Add placemark</button>
                                    <button onclick="call()">Draw line or shape</button>
                                    <select class="txa-50" size="5">
                                    </select>

                                </div>
                            </div>

                            <div class="list-p" onclick="sliderr(3)">
                                <p class="hh">
                                    ตำแหน่งจากข้อมูล kmz ไฟล์
                                </p>
                            </div>
                            @* add file  *@
                            <div class="dt-slide" id="ss-3">
                                <div class="sl-input" id="sd-3">
                                    <button id="buttonfile" onclick="thisFileUpload()">Import Kmz</button>
                                    <button onclick="removeAll()">Clear</button>
                                    <input type="file" id="files" name="files[]" multiple hidden />
                                    <select class="txa-50" size="5" id="list"></select>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(4)">
                                <p class="hh">
                                    ไม่ระบุที่ตั้งโครงการ
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-4">
                                <div class="sl-input" id="sd-4">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no_mr">
                    <div class="col-md-8">
                        <div class="map">
                            <div id="map"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="nopadding ">
                            <div class="data-col">
                               
                                <div id="Resulte">
                                    <div class="pc-btn">  <button class="ee-bb" onclick="hideresulte()">&uarr; ย้อนกลับ</button></div>

                                    <p class="ddda">
                                        <h4 style="width:100%; text-align:left;"><u>สรุปผล</u></h4>
                                    </p>
                                    <p>โครงการ กิจการ หรือการดำเนินการ <u style="color:red;">เข้าข่าย</u> ต้องจัดทำรายงานด้านสิ่งแวดล้อม</p>

                                    <h5>ประเภท</h5>
                                    <div class="list-p" onclick="sliderr(5)">
                                        <p class="hh" id="labeltype">
                                            รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)
                                        </p>
                                    </div>
                                    <div class="dt-slide" id="ss-5">
                                        <div class="sl-input" id="sd-5" style="text-align:left;">
                                            <h5>เสนอต่อ</h5>
                                            <p style="width:100%;">
                                                <img id="imLogo" src="/Image/สผ.png" width="50px" height="50px" style="background-color:white;" />
                                                <label style="width:80%;" id="labeloffer">สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)</label>
                                            </p>
                                            <h5>ตามกฎหมาย</h5>
                                            <p id="labellaw"> - ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)</p>
                                        </div>
                                    </div>

                                    <div class="list-p" onclick="sliderr(6)">
                                        <p class="hh" id="labeltype">
                                            EHIA
                                        </p>
                                    </div>
                                    <div class="dt-slide" id="ss-6">
                                        <div class="sl-input" id="sd-6" style="text-align:left;">
                                            <h5>เสนอต่อ</h5>
                                            <p style="width:100%;">
                                                <img id="imLogo" src="/Image/สผ.png" width="50px" height="50px" style="background-color:white;" />
                                                <label style="width:80%;" id="labeloffer">สผ.</label>
                                            </p>
                                            <h5>ตามกฎหมาย</h5>
                                            <p id="labellaw"> - ประกาศ0000000000000000000</p>
                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-banner">
        <div class="ffff">
        </div>
    </div>
</body>

<script>
   // EIA();
    function handleFileSelect(evt) {
        var files = evt.target.files; // FileList object

        // files is a FileList of File objects. List some properties.
        var output = [];
        for (var i = 0, f; f = files[i]; i++) {
            output.push('<option>', f.name, '</option>');
        }
        document.getElementById('list').innerHTML = output.join('');
    }
    document.getElementById('files').addEventListener('change', handleFileSelect, false);
    /*map*/
    var map;
    var drawingManager;
    var selectedShape;
    var colors = ['#1E90FF', '#FF1493', '#32CD32', '#FF8C00', '#4B0082'];
    var selectedColor;
    var colorButtons = {};
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 13.847860, lng: 100.604274 },
            mapTypeControl: true,
            mapTypeControlOptions: {
                style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,
                position: google.maps.ControlPosition.LEFT_TOP
            },
            zoomControl: true,
            zoomControlOptions: {
                position: google.maps.ControlPosition.RIGHT_BOTTOM
            },
            scaleControl: true,
            streetViewControl: true,
            streetViewControlOptions: {
                position: google.maps.ControlPosition.RIGHT_BOTTOM
            },
            fullscreenControl: true,
            fullscreenControlOptions: {
                position: google.maps.ControlPosition.RIGHT_BOTTOM
            },
            zoom: 10
        });

        var polyOptions = {
            strokeWeight: 0,
            fillOpacity: 0.45,
            editable: true,
            draggable: true
        };

        // Creates a drawing manager attached to the map that allows the user to draw
        // markers, lines, and shapes.
        drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.POLYGON,
            markerOptions: {
                draggable: true
            },
            polylineOptions: {
                editable: true,
                draggable: true
            },
            rectangleOptions: polyOptions,
            circleOptions: polyOptions,
            polygonOptions: polyOptions,
            map: map
        });

        google.maps.event.addListener(drawingManager, 'overlaycomplete', function (e) {

            var newShape = e.overlay;
            newShape.type = e.type;
            var parths = [];
            parths.push();

            if (e.type !== google.maps.drawing.OverlayType.MARKER) {
                // Switch back to non-drawing mode after drawing a shape.
                drawingManager.setDrawingMode(null);

                // Add an event listener that selects the newly-drawn shape when the user
                // mouses down on it.

                google.maps.event.addListener(newShape, 'click', function (e) {
                    if (e.vertex !== undefined) {
                        if (newShape.type === google.maps.drawing.OverlayType.POLYGON) {
                            var path = newShape.getPaths().getAt(e.path);
                            path.removeAt(e.vertex);
                            if (path.length < 3) {
                                newShape.setMap(null);
                            }
                        }
                        if (newShape.type === google.maps.drawing.OverlayType.POLYLINE) {
                            var path = newShape.getPath();
                            path.removeAt(e.vertex);
                            if (path.length < 2) {
                                newShape.setMap(null);
                            }
                        }
                    }
                    setSelection(newShape);
                });
                setSelection(newShape);
            }
            else {
                google.maps.event.addListener(newShape, 'click', function (e) {
                    setSelection(newShape);
                });
                setSelection(newShape);
            }
        });
        // map.data.loadGeoJson('https://raw.githubusercontent.com/Naphatsanan1280/Kmlfile/master/Indrustry.geojson');

        // Clear the current selection when the drawing mode is changed, or when the
        // map is clicked.
        google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
        google.maps.event.addListener(map, 'click', clearSelection);
        google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', deleteSelectedShape);

        buildColorPalette();


        var ctaLayer = new google.maps.KmlLayer({
            url: 'https://github.com/Naphatsanan1280/Kmlfile/blob/master/Industrial_Estate_Boundary.kmz?raw=true'
        });
        ctaLayer.setMap(map);

        var latlngcl = [];
        google.maps.event.addListener(ctaLayer, 'click', function (evt) {
            console.log(evt.latLng.lat() + "  " + evt.latLng.lng());

        });
        google.maps.event.addListener(map, 'click', function (event) {
            console.log(event.latLng);   // Get latlong info as object.
            console.log("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng()); // Get separate lat long.
        });

        google.maps.event.addListener(drawingManager, 'click', function (event) {

            console.log("Latitude: " + event.latLng.lat() + " " + ", longitude: " + event.latLng.lng()); // Get separate lat long.

        });

    }

    google.maps.event.addDomListener(window, 'load', initMap);

    function clearSelection() {
        if (selectedShape) {
            if (selectedShape.type !== 'marker') {
                selectedShape.setEditable(false);
            }

            selectedShape = null;
        }
    }

    function setSelection(shape) {
        if (shape.type !== 'marker') {
            clearSelection();
            shape.setEditable(true);
            selectColor(shape.get('fillColor') || shape.get('strokeColor'));
        }

        selectedShape = shape;
    }

    function deleteSelectedShape() {
        if (selectedShape) {
            selectedShape.setMap(null);
        }
    }

    function selectColor(color) {
        selectedColor = color;
        for (var i = 0; i < colors.length; ++i) {
            var currColor = colors[i];
            colorButtons[currColor].style.border = currColor == color ? '2px solid #789' : '2px solid #fff';
        }

        // Retrieves the current options from the drawing manager and replaces the
        // stroke or fill color as appropriate.
        var polylineOptions = drawingManager.get('polylineOptions');
        polylineOptions.strokeColor = color;
        drawingManager.set('polylineOptions', polylineOptions);

        var rectangleOptions = drawingManager.get('rectangleOptions');
        rectangleOptions.fillColor = color;
        drawingManager.set('rectangleOptions', rectangleOptions);

        var circleOptions = drawingManager.get('circleOptions');
        circleOptions.fillColor = color;
        drawingManager.set('circleOptions', circleOptions);

        var polygonOptions = drawingManager.get('polygonOptions');
        polygonOptions.fillColor = color;
        drawingManager.set('polygonOptions', polygonOptions);
    }

    function setSelectedShapeColor(color) {
        if (selectedShape) {
            if (selectedShape.type == google.maps.drawing.OverlayType.POLYLINE) {
                selectedShape.set('strokeColor', color);
            } else {
                selectedShape.set('fillColor', color);
            }
        }
    }

    function makeColorButton(color) {
        var button = document.createElement('span');
        button.className = 'color-button';
        button.style.backgroundColor = color;
        google.maps.event.addDomListener(button, 'click', function () {
            selectColor(color);
            setSelectedShapeColor(color);
        });

        return button;
    }

    function buildColorPalette() {
        var colorPalette = document.getElementById('color-palette');
        for (var i = 0; i < colors.length; ++i) {
            var currColor = colors[i];
            var colorButton = makeColorButton(currColor);
            colorPalette.appendChild(colorButton);
            colorButtons[currColor] = colorButton;
        }
        selectColor(colors[0]);
    }


    function Select1() {
        var isChecked = document.getElementById("s1").checked;
        document.getElementById("selectarea").disabled = !isChecked;
    }
    function Select2() {
        var isChecked = document.getElementById("s2").checked;
        document.getElementById("selectriverarea").disabled = !isChecked;
    }
    function sliderr(n) {
        var dis = $('#ss-' + n).css('display');
        console.log(dis);
        if (dis == 'none') {
            $("#ss-" + n).css("display", "block");
            $("#sd-" + n).css("height", "auto");

        } else {
            $("#ss-" + n).css("display", "none");
            $("#sd-" + n).css("height", "0px");
        }
    }
    function ss_l_menu() {
        if ($(".ss-btn").hasClass("ww-100")) {
            $(".ss-btn").removeClass("ww-100");
            $(".l-menu").animate({ "left": "-400px" }, 300, "swing");
            $(".ss-btn").animate({ "left": "0px" }, 300, "swing");
            $(".ss-btn").html('<i class="fas fa-chevron-right"></i>')
        } else {
            $(".ss-btn").addClass("ww-100");
            $(".l-menu").animate({ "left": "0px" }, 300, "swing");
            $(".ss-btn").animate({ "left": "360px" }, 300, "swing");
            $(".ss-btn").html('<i class="fas fa-chevron-left"></i>')
        }

    }
    function ss_r_menu() {
        if ($(".ss-r-btn").hasClass("ww-100")) {
            $(".ss-r-btn").removeClass("ww-100");
            $(".r-menu").animate({ "right": "-400px" }, 300, "swing");
            $(".ss-r-btn").animate({ "right": "0px" }, 300, "swing");
            $(".ss-r-btn").html('<i class="fas fa-chevron-left"></i>')
        } else {
            $(".ss-r-btn").addClass("ww-100");
            $(".r-menu").animate({ "right": "0px" }, 300, "swing");
            $(".ss-r-btn").animate({ "right": "360px" }, 300, "swing");
            $(".ss-r-btn").html('<i class="fas fa-chevron-right"></i>')
        }

    }
    function hideresulte() {
        $("#Resulte").hide();
        $(".specify").show();
        $("#okbtn").hide();
    }
    /*flow*/
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function () {
        $("#okbtn").hide();
        $("#selecttypes").on('change', function () {
            $('#selectGasSystem').prop('selectedIndex', 0);
            var type = $('#selecttypes').find(":selected").val();
            if (type == "none") {
                $("#okbtn").hide();
                $(".GasSystem").hide();
            }
            else if (type == "ng") {
                $("#okbtn").hide();
                $(".GasSystem").show();
                $("#selectGasSystem").on('change', function () {
                    var gassystem = $('#selectGasSystem').find(":selected").val();
                    if (gassystem == "none") {
                        $("#okbtn").hide();
                    }
                    else if (gassystem == "ground") {
                        $("#okbtn").hide();
                        $(".status").show();
                        $("#selectstatus").on('change', function () {
                            var status = $('#selectstatus').find(":selected").val();
                            if (status == "none") {
                                $("#okbtn").hide();
                            }
                            else if (status == "liquid") {
                                $("#okbtn").show();
                                $("#Btnok").click(function () {
                                    $(".pressure").hide();
                                    EIA();
                                });
                            }
                            else {
                                $("#okbtn").hide();
                                $(".pressure").show();
                                $("#selectpressure").on('change', function () {
                                    var pressure = $('#selectpressure').find(":selected").val();
                                    if (pressure == "none") {
                                        $("#okbtn").hide();
                                    }
                                    else if (pressure == "1") {
                                        $("#okbtn").hide();
                                        $(".size").show();
                                        $("#selectsize").on('change', function () {
                                            var size = $('#selectsize').find(":selected").val();
                                            if (size == "none") {
                                                $("#okbtn").hide();
                                            } else if (size == "1") {/*size <= 16*/
                                                $("#okbtn").hide();
                                                $(".riverarea").show();
                                                $(".area").hide();
                                                $("#Btnriverarea").click(function () {
                                                    var riverarea = $('#selectriverarea').find(":selected").val();
                                                    if (riverarea == "none") {
                                                        $("#okbtn").hide();
                                                    }
                                                    else if (riverarea == "y") {
                                                        EIA();
                                                    } else {
                                                        ER();
                                                    }
                                                });
                                            }
                                            else if (size == "2") {/*size > 16*/
                                                $(".riverarea").hide();
                                                $(".area").show();
                                                $("#Btnarea").click(function () {
                                                    var area = $('#selectarea').find(":selected").val();
                                                    if (area == "none") {
                                                        alert("กรุณาเลือกพื้นที่");
                                                    } else if (area == "in") {
                                                        $(".riverarea").show();
                                                        $("#Btnriverarea").click(function () {
                                                            var riverarea = $('#selectriverarea').find(":selected").val();
                                                            if (riverarea == "none") {
                                                                $("#okbtn").hide();
                                                            } else if (riverarea == "y") {
                                                                EIA();
                                                            } else {
                                                                ER();
                                                            }
                                                        });

                                                    } else {
                                                        $(".riverarea").hide();
                                                        EIA();
                                                    }
                                                });
                                            }
                                        });
                                    }
                                    else {
                                        $("#okbtn").hide();
                                        $(".size").show();
                                        $("#selectsize").on('change', function () {
                                            var size = $('#selectsize').find(":selected").val();
                                            if (size == "none") {
                                                $("#okbtn").hide();
                                                alert("กรุณาเลือกขนาดเส้นผ่านศูนย์กลางของท่อ");
                                            } else if (size == "1" || size == "2") {
                                                $("#okbtn").show();
                                                $("#Btnok").click(function () {
                                                    $(".riverarea").hide();
                                                    $(".area").show();
                                                    $("#Btnarea").click(function () {
                                                        var area = $('#selectarea').find(":selected").val();
                                                        if (area == "none") { alert("กรุณาเลือกพื้นที่"); }
                                                        else if (area == "in") {
                                                            $(".riverarea").show();
                                                            $("#Btnriverarea").click(function () {
                                                                var riverarea = $('#selectriverarea').find(":selected").val();
                                                                if (riverarea == "none") { alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำชั้น 1"); }
                                                                else if (riverarea == "y") {
                                                                    EIA();
                                                                } else {
                                                                    ER();
                                                                }
                                                            });
                                                        } else {
                                                            $(".riverarea").hide();
                                                            EIA();
                                                        }
                                                    });
                                                });

                                            } else {
                                                $("#okbtn").hide();
                                            }
                                        });
                                    }
                                });
                            }
                        });
                    }
                    else {
                        $("#okbtn").show();
                        $("#Btnok").click(function () {
                            $(".GasSystem").hide();
                            $(".pressure").hide();
                            $(".size").hide();
                            $(".status").hide();
                            $(".area").hide();
                            $(".riverarea").hide();
                            EIA();
                        });
                    }
                });
            }
            else {
                $("#okbtn").show();
                $(".GasSystem").hide();
                $(".pressure").hide();
                $(".size").hide();
                $(".status").hide();
                $(".area").hide();
                $(".riverarea").hide();
                $("#Btnok").click(function () {
                    EIA();
                });
            }
        });
    });
    function EIA() {
        $("#imLogo").attr("src", "/Image/สผ.png");
        $(".specify").hide();
        $("#Resulte").show();
        document.getElementById('labeltype').innerHTML = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
        document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
        document.getElementById('labellaw').innerHTML = "- ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)"
            +"<br/>"+"- ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแดล้อม เรื่อง กำหนดโครงการกิจการ หรือดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 27)";

    
    }
    function ER() {
        $("#imLogo").attr("src", "/Image/กระทรวงพลังงาน (1).png");
        $(".specify").hide();
        $("#Resulte").show();
        document.getElementById('labeltype').innerHTML = "รายงานด้านสิ่งแวดล้อม (ER)";
        document.getElementById('labeloffer').innerHTML = "กรมธุรกิจพลังงาน (ธพ.)";;
        document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงพลังงาน เรื่อง กำหนดประเภท และขนาดของระบบการขนส่งก๊าซธรรมชาติทางท่อและหลักเกณฑ์ วิธีการฯ จัดทำ ER" + "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการ หรือการดำเนินการ ซึ่งต้องจัดทำรายงาน EIA (ลำดับที่ 4)";

    }
    function enable_layer(e) {
        var kmlLayer;
        var id = $(e).val();
        if ($(e).is(":checked")) {
            kmlLayer = new google.maps.KmlLayer(kml[id].url, {
                suppressInfoWindows: true,
                preserveViewport: true
            });
            kmlLayer.addListener('click', function (kmlEvent) {
                var text = kmlEvent.featureData.description;

                /*showInContentWindow(text);*/
            });

            function showInContentWindow(text) {
                var sidediv = document.getElementById('divResults');
                sidediv.innerHTML = text;
            }
            kml[id].obj = kmlLayer;
            kml[id].obj.setMap(map);
        } else {
            console.log('close');
            kml[id].obj.setMap(null);
            delete kml[id].obj;
        }
    }
    function removeAll() {
        var Select2 = document.getElementById('list');
        Select2.remove(Select2.selectedIndex);
    }
    function loadGeoJsonString(geoString) {
        var geojson = JSON.parse(geoString);
        map.data.addGeoJson(geojson);
        zoom(map);
    }
    function zoom(map) {
        var bounds = new google.maps.LatLngBounds();
        map.data.forEach(function (feature) {
            processPoints(feature.getGeometry(), bounds.extend, bounds);
        });
        map.fitBounds(bounds);
    }
    function processPoints(geometry, callback, thisArg) {
        if (geometry instanceof google.maps.LatLng) {
            callback.call(thisArg, geometry);
        } else if (geometry instanceof google.maps.Data.Point) {
            callback.call(thisArg, geometry.get());
        } else {
            geometry.getArray().forEach(function (g) {
                processPoints(g, callback, thisArg);
            });
        }
    }
    function handleDrop(e) {
        var files = e.dataTransfer.files;
        if (files.length) {
            // process file(s) being dropped
            // grab the file data from each file
            for (var i = 0, file; file = files[i]; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    loadGeoJsonString(e.target.result);
                };
                reader.onerror = function (e) {
                    console.error('reading failed');
                };
                reader.readAsText(file);
            }
        } else {
            // process non-file (e.g. text or html) content being dropped
            // grab the plain text version of the data
            var plainText = e.dataTransfer.getData('text/plain');
            if (plainText) {
                loadGeoJsonString(plainText);
            }
        }

        // prevent drag event from bubbling further
        return false;
    }
    function thisFileUpload() {
        $("#files").click();
    }

    $(function () {
        var data_duplicate = [];
        var loop_mng = [];
        // let json = require('Indrustry1.geojson');
        //
        var loop_mng = [];
        //let json = require('นิคมอุตสาหกรรม1.json');
        $.getJSON('https://raw.githubusercontent.com/Naphatsanan1280/Kmlfile/master/Indrustry.geojson', function (data) {
            var array_set = [];
            for (var i = 0; i < data.features.length; i++) {
                var data_sort = data.features[i].geometry.coordinates[0][0];
                //console.log(data.features[0].geometry.coordinates[0][0]);
                var data_set = [];
                for (var j = 0; j < data_sort.length; j++) {
                    data_set.push(data_sort[j][0]);
                    data_set.push(data_sort[j][1]);
                }
                array_set[i] = {
                    id_companyy: data.features[i].properties.Id,
                    name_companny: data.features[i].properties.Name,
                    lat_long: data_set
                };
                console.log(array_set[i]);
            }

            for (var i = 0; i < array_set.length; i++) {
                for (var j = 0; j < array_set.length; j++) {
                    let inttersection = array_set[i].lat_long.filter(x => array_set[j].lat_long.includes(x));
                    if (inttersection.length > 0 && i != j) {
                        if (!(loop_mng.includes(i))) {
                            loop_mng.push(i);
                            data_duplicate.push({
                                id_company1: array_set[i].id_companyy,
                                name_companny1: array_set[i].name_companny,
                                id_company2: array_set[j].id_companyy,
                                name_companny2: array_set[j].name_companny,
                                lat_long_duplicate1: inttersection
                            });
                        }
                    }
                }
            }
            //console.log(data_duplicate);
        });

        $.getJSON('https://raw.githubusercontent.com/Naphatsanan1280/Kmlfile/master/Environmental_Protected_Area_M1.geojson', function (data) {
            var array_set = [];
            for (var i = 0; i < data.features.length; i++) {
                var data_sort = data.features[i].geometry.coordinates[0][0];
                //console.log(data.features[0].geometry.coordinates[0][0]);
                var data_set = [];
                for (var j = 0; j < data_sort.length; j++) {
                    data_set.push(data_sort[j][0]);
                    data_set.push(data_sort[j][1]);
                }
                array_set[i] = {
                    name_Area: data.features[i].properties.Area_Name,
                    lat_long: data_set
                };
                console.log(array_set[i]);
            }

            for (var i = 0; i < array_set.length; i++) {
                for (var j = 0; j < array_set.length; j++) {
                    let inttersection = array_set[i].lat_long.filter(x => array_set[j].lat_long.includes(x));
                    if (inttersection.length > 0 && i != j) {
                        if (!(loop_mng.includes(i))) {
                            loop_mng.push(i);
                            data_duplicate.push({
                                id_company1: array_set[i].id_companyy,
                                name_companny1: array_set[i].name_companny,
                                id_company2: array_set[j].id_companyy,
                                name_companny2: array_set[j].name_companny,
                                lat_long_duplicate1: inttersection
                            });
                        }
                    }
                }
            }
            //console.log(data_duplicate);
        });

        $.getJSON('https://raw.githubusercontent.com/Naphatsanan1280/Kmlfile/master/Ramsar_site.geojson', function (data) {
            var array_set = [];
            for (var i = 0; i < data.features.length; i++) {
                var data_sort = data.features[i].geometry.coordinates[0][0];
                //console.log(data.features[0].geometry.coordinates[0][0]);
                var data_set = [];
                for (var j = 0; j < data_sort.length; j++) {
                    data_set.push(data_sort[j][0]);
                    data_set.push(data_sort[j][1]);
                }
                array_set[i] = {
                    name_Area: data.features[i].properties.W_Name_1,
                    lat_long: data_set
                };
                console.log(array_set[i]);
            }

            for (var i = 0; i < array_set.length; i++) {
                for (var j = 0; j < array_set.length; j++) {
                    let inttersection = array_set[i].lat_long.filter(x => array_set[j].lat_long.includes(x));
                    if (inttersection.length > 0 && i != j) {
                        if (!(loop_mng.includes(i))) {
                            loop_mng.push(i);
                            data_duplicate.push({
                                id_company1: array_set[i].id_companyy,
                                name_companny1: array_set[i].name_companny,
                                id_company2: array_set[j].id_companyy,
                                name_companny2: array_set[j].name_companny,
                                lat_long_duplicate1: inttersection
                            });
                        }
                    }
                }
            }
            //console.log(data_duplicate);
        });

    });


    /**/


  
</script>