
@{
    ViewBag.Title = "PTT Smart EIA Regulatory";

    Layout = "~/Views/Shared/Content_Layout.cshtml";
}


<script type="text/javascript" src="~/Scripts/FlowScript/Industrial/Industrial_JavaScript.js"></script>

<head>

    <style>
        .map {
            background-color: #fff;
            width: 100%;
            padding: 5px;
            height: 700px;
            float: left;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        #Factorynumber, #IndustryStyle, #support, #Resulte, #okbtn {
            display: none;
        }

        #actionsBtn {
            text-align: center;
            width: 100%;
            height: 5px;
            background-color: #808080;
            margin: 0 auto;
            margin-top: 0px;
            margin-top: 0;
            margin-bottom: 20px;
        }

            #actionsBtn a {
                color: #808080;
            }

        #a {
            padding: 5px;
            border: solid 2px black;
        }

        #b {
            padding: 5px;
            border: solid 2px gray;
        }
    </style>

</head>
<body onload="initMap()">
    <div class="xxx" style="padding: 5px 0px 5px 5px; display: flex; flex-wrap:wrap;">
        <div class="header-banner">
            <div class="btx">
                <div class="img-ss">
                    <img src="@Url.Content("~/Content/template/")img/link-3.svg" alt="" width="90px" height="90px">
                </div>
                <p>
                    3. นิคมอุตสาหกรรม
                </p>
            </div>
        </div>
    </div>
    <div class="contain-index" style="padding: 15px 0px; background-color: #e7eef1; overflow-x: hidden;">
        <div class="row" style=" margin-right: 0px;margin-left: 0px;">
            <div class="col-lg-12 nopadding">
                <span class="ss-btn" onclick="ss_l_menu()"><i class="fas fa-chevron-right"></i></span>
                <div class="l-menu bg-gg nopadding">
                    <div class="data-col">
                        <p class="ddda">
                            1.ระบุที่ตั้งโครงการ
                        </p>
                        <div class="pp-list">
                            <div class="list-p" onclick="sliderr(1)">
                                <p class="hh">
                                    พิกัดที่ตั้ง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-1">
                                <div class="sl-input" id="sd-1">
                                    <h5> ระบุพิกัด UTM WGS 84 </h5>
                                    <p>Zone:  <select><option>47</option> <option>48</option></select></p>
                                    <hr />
                                    <p>East:  <input type="text" /></p>
                                    <p>North: <input type="text" /></p>
                                    <button class="ee-bb">OK</button>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(2)">
                                <p class="hh">
                                    กำหนดเอง
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-2">
                                <div class="sl-input" id="sd-2">
                                    <button>Add placemark</button>
                                    <button>Draw line or shape</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                        
                                     </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(3)">
                                <p class="hh">
                                    ตำแหน่งจากข้อมูล kmz ไฟล์
                                </p>
                            </div>
                            <div class="dt-slide" id="ss-3">
                                <div class="sl-input" id="sd-3">
                                    <button>Import Kmz</button>
                                    <button>Clear</button>
                                    <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                                </div>
                            </div>
                            <div class="list-p" onclick="sliderr(4)">
                                <p class="hh">
                                    ไม่ระบุที่ตั้งโครงการ
                                </p>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="row no_mr">
                    <div class="col-md-8">
                        <div class="map">
                            <div id="map"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="nopadding ">
                            <div class="data-col">
                                <div class="specify">
                                    <p class="ddda" style="margin-top: 10px;">
                                        2.ระบุรายละเอียดโครงการ
                                    </p>
                                    <div id="TypeConstruction">
                                        <p>
                                            ลักษณะการก่อสร้าง/ขยาย

                                            <select name="" id="selectTypeConstruction" class="form-control">

                                                <option value="none" selected> --เลือกลักษณะการก่อสร้าง/ขยาย-- </option>
                                                <option value="construction">ก่อสร้างใหม่</option>
                                                <option value="extend">ขยายนิคม</option>
                                            </select>
                                        </p>
                                    </div>
                                    <div id="support">
                                        <p>
                                            จัดตั้งหรือขยายเพื่อรองรับอุตสาหกรรมปิโตรเคมี
                                            หรืออุตสาหกรรมถลุงแร่เหล็ก

                                            <select name="" id="selectsupport" class="form-control">

                                                <option value="none" selected>
                                                    --เลือก จัดตั้งหรือขยายเพื่อรองรับอุตสาหกรรมปิโตรเคมีหรืออุตสาหกรรมถลุงแร่เหล็ก--
                                                </option>
                                                <option value="yes">ใช่</option>
                                                <option value="no">ไม่ใช่</option>
                                            </select>
                                        </p>
                                    </div>
                                    <div id="Factorynumber">

                                        <p>
                                            จำนวนโรงงาน

                                            <select name="" id="selectFactorynumber" class="form-control">
                                                <option value="none" selected>
                                                    --เลือกจำนวนโรงงาน--
                                                </option>
                                                <option value="one">1 โรงงาน</option>
                                                <option value="more">มากกว่า 1 โรงงาน</option>
                                            </select>
                                        </p>

                                    </div>

                                    <div id="IndustryStyle">
                                        <p>
                                            ลักษณะอุตสาหกรรม

                                            <select name="" id="selectIndustryStyle" class="form-control">
                                                <option value="none" selected>
                                                    --เลือกลักษณะอุตสาหกรรม--
                                                </option>
                                                <option value="1">
                                                    อุตสาหกรรมปิโตรเคมี
                                                    ขั้นต้นทุกขนาดหรือที่มีการขยายกำลังการผลิตตั้งแต่
                                                    ร้อยละ 35 ของกำลังการผลิตเดิมขึ้นไป
                                                </option>
                                                <option value="2">
                                                    อุตสาหกรรมปิโตรเคมีขั้นกลาง ที่ผลิตสารเคมีหรือใช้วัตถุดิบที่เป็นสารก่อมะเร็งกลุ่ม 1 ที่
                                                    มีกำลังการผลิตตั้งแต่ 100 ตัน/วัน ขึ้นไป
                                                    ขยายกำลังการผลิตรวมกันตั้งแต่ 100 ตัน/วันขึ้นไป
                                                </option>
                                                <option value="3">
                                                    อุตสาหกรรมปิโตรเคมีขั้นกลาง ที่ผลิตสารเคมีหรือใช้วัตถุดิบที่เป็นสารก่อมะเร็งกลุ่ม 2A ที่
                                                    มีกำลังการผลิตตั้งแต่ 700 ตัน/วัน ขึ้นไป
                                                    ขยายกำลังการผลิตรวมกันตั้งแต่ 700 ตัน/วันขึ้นไป
                                                </option>
                                                <option value="4">
                                                    อุตสาหกรรมถลุงแร่เหล็ก
                                                    ที่มีปริมาณแร่ป้อนเข้าสู่กระบวนการผลิต ตั้งแต่ 5,000 ตัน/วัน ขึ้นไป หรือ
                                                    ที่มีปริมาณแร่ป้อนเข้าสู่กระบวนการผลิต รวมกันตั้งแต่ 5,000 ตัน/วัน ขึ้นไป
                                                </option>
                                                <option value="5">อุตสาหกรรมถลุงแร่เหล็กที่มีการผลิตถ่าน coke หรือที่มีกระบวนการ sintering ทุกขนาด</option>
                                                <option value="6">อื่นๆ</option>
                                            </select>
                                        </p>

                                    </div>
                                    <div id="okbtn" class="pc-btn">
                                        <hr />
                                        <button class="ee-bb" id="Btnok">ตกลง</button>
                                    </div>
                                </div>
                                <div id="Resulte">
                                    <h4 style="width:100%; text-align:left;"><u>สรุปผล</u></h4>
                                    <h5 id="label1">โครงการ กิจการ หรือการดำเนินการ <u id="changeLabel" style="color:red;">เข้าข่าย</u> ต้องจัดทำรายงานด้านสิ่งแวดล้อม</h5>
                                    <hr />
                                    <div id="inresulte">
                                        <h5 id="label2">ประเภท</h5>
                                        <h5 id="labeltype">
                                            EHIA
                                        </h5>
                                        <!--   <hr />
                                         <h5 id="label3">เสนอต่อ</h5>
                                         <p style="width:100%;">
                                           <img id="imglogo" src="" width="50px" height="50px" style="background-color:white;" />
                                        <p id="labeloffer">สผ.</p>
                                        </p>
                                        <hr />
                                        <h5 id="label4">ตามกฎหมาย</h5>
                                        <p id="labellaw">เรื่อง...</p>
                                        <hr />-->
                                    </div>
                                    <div class="pc-btn">  <button class="ee-bb" onclick="hideresulte()">&uarr; ย้อนกลับ</button></div><br />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-banner">
            <div class="ffff">

            </div>
        </div>
</body>

<script>
    $(document).ready(function () {
        $("#btnAction1").click(function () {
            $("#section1").slideToggle();
            $(this).find('i').toggleClass('fa-chevron-circle-down fa-chevron-circle-up')
        });
        $("#btnAction2").click(function () {
            $("#section2").slideToggle();
            $(this).find('i').toggleClass('fa-chevron-circle-down fa-chevron-circle-up')
        });
        $("#btnAction3").click(function () {
            $("#section3").slideToggle();
            $(this).find('i').toggleClass('fa-chevron-circle-down fa-chevron-circle-up')
        });

    });



    /*map*/
    var map;
    function initMap() {
        var latlng = new google.maps.LatLng(13.7651624, 100.893642);
        var myOptions = {
            zoom: 8,
            center: latlng,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map"), myOptions);
    }
    /*slide*/
    function sliderr(n) {
        var dis = $('#ss-' + n).css('display');
        console.log(dis);
        if (dis == 'none') {
            $("#ss-" + n).css("display", "block");
            $("#sd-" + n).css("height", "auto");

        } else {
            $("#ss-" + n).css("display", "none");
            $("#sd-" + n).css("height", "0px");
        }
    }
    function ss_l_menu() {
        if ($(".ss-btn").hasClass("ww-100")) {
            $(".ss-btn").removeClass("ww-100");
            $(".l-menu").animate({ "left": "-400px" }, 300, "swing");
            $(".ss-btn").animate({ "left": "0px" }, 300, "swing");
            $(".ss-btn").html('<i class="fas fa-chevron-right"></i>')
        } else {
            $(".ss-btn").addClass("ww-100");
            $(".l-menu").animate({ "left": "0px" }, 300, "swing");
            $(".ss-btn").animate({ "left": "360px" }, 300, "swing");
            $(".ss-btn").html('<i class="fas fa-chevron-left"></i>')
        }

    }
    function ss_r_menu() {
        if ($(".ss-r-btn").hasClass("ww-100")) {
            $(".ss-r-btn").removeClass("ww-100");
            $(".r-menu").animate({ "right": "-400px" }, 300, "swing");
            $(".ss-r-btn").animate({ "right": "0px" }, 300, "swing");
            $(".ss-r-btn").html('<i class="fas fa-chevron-left"></i>')
        } else {
            $(".ss-r-btn").addClass("ww-100");
            $(".r-menu").animate({ "right": "0px" }, 300, "swing");
            $(".ss-r-btn").animate({ "right": "360px" }, 300, "swing");
            $(".ss-r-btn").html('<i class="fas fa-chevron-right"></i>')
        }

    }
    function hideresulte() {
        $("#Resulte").hide();
        $(".specify").show();
    }

    /*flow*/
    $(document).ready(function () {
        $("#selectTypeConstruction").on('change', function () {
            $("#Resulte").hide();
            $("#okbtn").hide();
            $("#IndustryStyle").hide();
            $("#Factorynumber").hide();
            var typeconstruct = $('#selectTypeConstruction').find(":selected").val();
                /*ขยาย*/if (typeconstruct == "extend") {
                $("#support").show();
                $("#okbtn").hide();
                $("#selectsupport").on('change', function () {
                    $("#section1").slideToggle();
                    var support = $('#selectsupport').find(":selected").val();
                    if (support == "yes"/*รองรับ*/) {
                        $("#IndustryStyle").show();
                        $("#okbtn").hide();
                        $("#selectIndustryStyle").on('change', function () {
                            var IndustryStyle = $('#selectIndustryStyle').find(":selected").val();
                            if (IndustryStyle == "6" /*อื่นๆ*/) {
                                $("#okbtn").show();
                                $("#Btnok").click(function () {
                                    EIA();
                                });
                            } else {
                                $("#okbtn").show();
                                $("#Btnok").click(function () {
                                    EHIA();
                                });

                            }
                        });
                    }
                    else {/*ไม่รองรับ*/
                        $("#okbtn").show();
                        $("#Btnok").click(function () {
                            EIA();
                        });

                    }
                });

            }
            else if (typeconstruct == "none") {
                /* alert("กรุณาเลือก ลักษณะการก่อสร้าง/ขยาย ");*/
            }
                /*ก่อสร้างใหม่*/else {
                $("#support").show();
                $("#Resulte").hide();
                $("#IndustryStyle").hide();
                $("#Factorynumber").hide();
                $("#okbtn").hide();
                $("#selectsupport").on('change', function () {
                    $("#section1").slideToggle();
                    var support = $('#selectsupport').find(":selected").val();
                    if (support == "yes" /*รองรับ*/) {
                        $("#okbtn").hide();
                        $("#Factorynumber").show();
                        $("#IndustryStyle").hide();
                        $("#selectFactorynumber").on('change', function () {
                            var Factorynumber = $('#selectFactorynumber').find(":selected").val();
                            if (Factorynumber == "one" /*1 โรงงาน*/) {
                                $("#okbtn").show();
                                $("#Btnok").click(function () {
                                    EIA();
                                });
                            }
                            else if (Factorynumber == "none") {
                                $("#okbtn").hide();
                                alert("กรุณาเลือก จำนวนโรงงาน");
                            }
                              /*มากกว่า 1 โรงงาน*/  else {
                                $("#IndustryStyle").show();
                                $("#okbtn").hide();
                                $("#selectIndustryStyle").on('change', function () {
                                    var IndustryStyle = $('#selectIndustryStyle').find(":selected").val();
                                    if (IndustryStyle == "6" /*อื่นๆ*/) {
                                        $("#okbtn").show();
                                        $("#Btnok").click(function () {
                                            EIA();
                                        });
                                    }
                                    else if (IndustryStyle == "none") {
                                        $("#okbtn").hide();
                                        alert("กรุณาเลือก ลักษณะอุตสาหกรรม");
                                    }
                                    else {
                                        $("#okbtn").show();
                                        $("#Btnok").click(function () {
                                            EHIA();
                                        });
                                    }
                                });
                            }
                        });
                    }
                    else if (support == "none") {
                        $("#okbtn").hide();
                        alert("กรุณาเลือก จัดตั้งหรือขยายเพื่อรองรับอุตสาหกรรมปิโตรเคมีหรืออุตสาหกรรมถลุงแร่เหล็ก");
                    }
                    else {
                        $("#okbtn").show();
                        $("#Btnok").click(function () {
                            EIA();
                        });

                    }
                });
            }
        });
    });


    function EIA() {
        In_3_1();
    }

    function EHIA() {
        In_3_2();
    }

</script>

