
@{
    ViewBag.Title = "PTT Smart EIA Regulatory";
    Layout = "~/Views/Shared/Content_Layout.cshtml";
}
    <head>
        
        <style>
            .map {
                background-color: #fff;
                width: 100%;
                padding: 5px;
                height: 700px;
                float: left;
            }

            #map {
                width: 100%;
                height: 100%;
            }

          #okbtn, #ResulteNone,#numberofsuplots, #areasize, #protectarea1, #protectarea2, #protectarea3, #protectarea4, #protectarea5, #riverarea, #Resulte {
                display: none;
            }
           #actionsBtn {
             text-align: center;
             width: 100%;
             height:5px;
             background-color:#808080;
             margin: 0 auto;
             margin-top: 0px;
             margin-top: 0;
             margin-bottom: 20px;
     
        }
        #actionsBtn a {
         color: #808080;
        }

        </style>
    </head>
    <body onload="initMap()">
        <div class="xxx" style="padding: 5px 0px 5px 5px; display: flex; flex-wrap:wrap;">

            <div class="header-banner">
                <div class="btx">
                    <div class="img-ss">
                        <img src="@Url.Content("~/Content/template/")img/link-16.svg" alt="" width="90px" height="90px">
                    </div>

                    <p>
                        18. การจัดสรรที่ดิน
                    </p>

                </div>
            </div>



        </div>
        <div class="contain-index" style="padding: 15px 0px; background-color: #e7eef1; overflow-x: hidden;">
            <div class="row" style=" margin-right: 0px;margin-left: 0px;">
                <div class="col-lg-12 nopadding">
                    <span class="ss-btn" onclick="ss_l_menu()"><i class="fas fa-chevron-right"></i></span>
                    <div class="l-menu bg-gg nopadding">
                        <div class="data-col">
                            <p class="ddda">
                                1.ระบุที่ตั้งโครงการ
                            </p>
                            <div class="pp-list">
                                <div class="list-p" onclick="sliderr(1)">
                                    <p class="hh">
                                        พิกัดที่ตั้ง
                                    </p>
                                </div>
                                <div class="dt-slide" id="ss-1">
                                    <div class="sl-input" id="sd-1">
                                        <h5> ระบุพิกัด UTM WGS 84 </h5>
                                        <p>Zone:  <select><option>47</option> <option>48</option></select></p>
                                        <hr />
                                        <p>East:  <input type="text" /></p>
                                        <p>North: <input type="text" /></p>
                                        <button class="ee-bb">OK</button>
                                    </div>
                                </div>
                                <div class="list-p" onclick="sliderr(2)">
                                    <p class="hh">
                                        กำหนดเอง
                                    </p>
                                </div>
                                <div class="dt-slide" id="ss-2">
                                    <div class="sl-input" id="sd-2">
                                        <button>Add placemark</button>
                                        <button>Draw line or shape</button>
                                        <textarea class="txa-50" rows="5" cols="50">
                                        
                                     </textarea>
                                    </div>
                                </div>
                                <div class="list-p" onclick="sliderr(3)">
                                    <p class="hh">
                                        ตำแหน่งจากข้อมูล kmz ไฟล์
                                    </p>
                                </div>
                                <div class="dt-slide" id="ss-3">
                                    <div class="sl-input" id="sd-3">
                                        <button>Import Kmz</button>
                                        <button>Clear</button>
                                        <textarea class="txa-50" rows="5" cols="50">
                                        
                                        </textarea>
                                    </div>
                                </div>
                                <div class="list-p" onclick="sliderr(4)">
                                    <p class="hh">
                                        ไม่ระบุที่ตั้งโครงการ
                                    </p>
                                </div>
                                <!--
        <div class="dt-slide" id="ss-4">
            <div class="sl-input" id="sd-4">
                <button>Add placemark</button>
                <button>Draw line or shape</button>
                <textarea class="txa-50" rows="5" cols="50">

                </textarea>
            </div>
        </div>-->
                            </div>
                        </div>

                    </div>


                    <div class="row no_mr">
                        <div class="col-md-8">
                            <div class="map">
                                <div id="map"></div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="nopadding ">
                                <div class="data-col">
                                    <div class="specify">
                                        <p class="ddda" style="margin-top: 10px;">
                                            2.ระบุรายละเอียดโครงการ
                                        </p>
                                        <div id="type">
                                            <p>
                                                ประเภท
                                            </p>
                                            <select name="" id="selecttype" class="form-control">
                                                <option value="none" selected>
                                                    --เลือกประเภท--
                                                </option>
                                                <option value="hire">เช่า</option>
                                                <option value="distribute">จำหน่าย</option>
                                            </select>
                                            
                                        </div>

                                        <div id="numberofsuplots">
                                            <p>
                                                จำนวนแปลงย่อย (แปลง)
                                                <select name="" id="selectnumberofsuplots" class="form-control">
                                                    <option value="none" selected>
                                                        --เลือกจำนวนแปลงย่อย--
                                                    </option>
                                                    <option value="less30">น้อยกว่า 30 แปลง</option>
                                                    <option value="30to100">มากกว่าหรือเท่ากับ 30 แปลง ถึง น้อยกว่า 100 แปลง</option>
                                                    <option value="100to250">มากกว่าหรือเท่ากับ 100 แปลง ถึง น้อยกว่า 250 แปลง</option>
                                                    <option value="250to500">มากกว่าหรือเท่ากับ 250 แปลง ถึง น้อยกว่า 500 แปลง</option>
                                                    <option value="more500">มากกว่าหรือเท่ากับ 500</option>
                                                </select>
                                               
                                            </p>
                                        </div>
                                        <div id="areasize">
                                            <p>
                                                ขนาดพื้นที่ (ไร่)
                                                <select name="" id="selectareasize" class="form-control">
                                                    <option value="none" selected>
                                                        --เลือกขนาดพื้นที่--
                                                    </option>
                                                    <option value="less18"> น้อยกว่า 1.8 ไร่</option>
                                                    <option value="18to19"> มากกว่าหรือเท่ากับ 1.8 ไร่ ถึง น้อยกว่า 19 ไร่</option>
                                                    <option value="19to100"> มากกว่าหรือเท่ากับ 19 ไร่ ถึง น้อยกว่า 100 ไร่</option>
                                                    <option value="more100">มากกว่า 100 ไร่</option>
                                                </select>
                                               
                                            </p>
                                        </div>

                                        <div id="okbtn" class="pc-btn">
                                            <hr />
                                            <button class="ee-bb" id="Btnok">ตกลง</button>
                                        </div>

                                        <div id="protectarea1">
                                            <p>
                                                พื้นที่
                                                <select name="" id="selectprotectarea1" class="form-control">
                                                    <option value="1">
                                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี
                                                    </option>
                                                    <option value="2">
                                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี
                                                    </option>
                                                </select>
                                                <div class="pc-btn">
                                                    <button class="ee-bb" id="btnprotectarea1">ตกลง</button>
                                                </div>
                                            </p>
                                        </div>
                                        <div id="protectarea2">
                                            <p>
                                                พื้นที่
                                                <select name="" id="selectprotectarea2" class="form-control">
                                                    <option value="1">
                                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี ภูเก็ต
                                                    </option>
                                                    <option value="2">
                                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ชลบุรี ภูเก็ต
                                                    </option>
                                                </select>
                                                <div class="pc-btn">
                                                    <button class="ee-bb" id="btnprotectarea2">ตกลง</button>
                                                </div>
                                            </p>
                                        </div>
                                        <div id="protectarea3">
                                            <p>
                                                พื้นที่
                                                <select name="" id="selectprotectarea3" class="form-control">
                                                    <option value="1">
                                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม 7 จังหวัด
                                                    </option>
                                                    <option value="2">
                                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม 7 จังหวัด
                                                    </option>
                                                </select>
                                                <div class="pc-btn">
                                                    <button class="ee-bb" id="btnprotectarea3">ตกลง</button>
                                                </div>
                                            </p>
                                        </div>
                                        <div id="protectarea4">
                                            <p>
                                                พื้นที่
                                                <select name="" id="selectprotectarea4" class="form-control">
                                                    <option value="1">
                                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ภูเก็ต พังงา กระบี่ เพชรบุรี ประจวบคีรีขันธ์
                                                    </option>
                                                    <option value="2">
                                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม สุราษฎร์ธานี ภูเก็ต พังงา กระบี่ เพชรบุรี ประจวบคีรีขันธ์
                                                    </option>
                                                </select>
                                                <<div class="pc-btn">
                                                    <button class="ee-bb" id="btnprotectarea4">ตกลง</button>
                                                </div>
                                            </p>
                                        </div>
                                        <div id="protectarea5">
                                            <p>
                                                พื้นที่
                                                <select name="" id="selectprotectarea5" class="form-control">
                                                    <option value="1">
                                                        อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม ชลบุรี
                                                    </option>
                                                    <option value="2">
                                                        ไม่อยู่ในพื้นที่คุ้มครองสิ่งแวดล้อม ชลบุรี
                                                    </option>
                                                </select>
                                                <div class="pc-btn">
                                                    <button class="ee-bb" id="btnprotectarea5">ตกลง</button>
                                                </div>
                                            </p>
                                        </div>
                                        <div id="riverarea">
                                            <p>
                                                พื้นที่
                                                <select name="" id="selectriverarea" class="form-control">
                                                    <option value="1">
                                                        อยู่ในพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1
                                                    </option>
                                                    <option value="2">
                                                        ไม่อยู่ในพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1
                                                    </option>
                                                </select>
                                                <div class="pc-btn">
                                                    <button class="ee-bb" id="btnriverarea">ตกลง</button>
                                                </div>
                                            </p>
                                        </div>


                                    </div>
                                    <div id="Resulte">
                                        <h4 style="width:100%; text-align:left;"><u>สรุปผล</u></h4>
                                        <p id="label1">โครงการ กิจการ หรือการดำเนินการ <u id="changeLabel" style="color:red;">เข้าข่าย</u> ต้องจัดทำรายงานด้านสิ่งแวดล้อม</p>
                                        <hr />
                                        <div id="inresulte">
                                            <h5 id="label2">ประเภท</h5>
                                            <p id="labeltype">
                                                EHIA
                                            </p>
                                            <hr />
                                            <h5 id="label3">เสนอต่อ</h5>
                                            <p style="width:100%;">
                                                <img src="~/Image/สผ.png" width="50px" height="50px" style="background-color:white;" />
                                                <label style="width:80%;" id="labeloffer">สผ.</label>
                                            </p>
                                            <hr />
                                            <h5 id="label4">ตามกฎหมาย</h5>
                                            <p id="labellaw">เรื่อง...</p>
                                            <hr />
                                        </div>
                                        <div class="pc-btn">  <button class="ee-bb" onclick="hideresulte()">&uarr; ย้อนกลับ</button></div><br />
                                    </div>

                                    
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                   
                </div>
                
            </div>
            
        </div>
        

        <div class="footer-banner">
            <div class="ffff">

            </div>
        </div>
    </body>
<script>
   
     function Select1()
    {
             var isChecked = document.getElementById("s1").checked;
             document.getElementById("selectprotectarea1").disabled = !isChecked;
    }
      function Select2()
    {
             var isChecked = document.getElementById("s2").checked;
             document.getElementById("selectprotectarea2").disabled = !isChecked;
    }
      function Select3()
    {
             var isChecked = document.getElementById("s3").checked;
             document.getElementById("selectprotectarea3").disabled = !isChecked;
    }
      function Select4()
    {
             var isChecked = document.getElementById("s4").checked;
             document.getElementById("selectprotectarea4").disabled = !isChecked;
    }
      function Select5()
    {
             var isChecked = document.getElementById("s5").checked;
             document.getElementById("selectprotectarea5").disabled = !isChecked;
    }

    function Select6()
    {
             var isChecked = document.getElementById("s6").checked;
             document.getElementById("selectriverarea").disabled = !isChecked;
    }


     /*map*/
          var map;
        function initMap() {
            var latlng = new google.maps.LatLng(13.7651624, 100.893642);
            var myOptions = {
                zoom: 8,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById("map"), myOptions);
        }
         /*slide*/
        function sliderr(n) {
            var dis = $('#ss-' + n).css('display');
            console.log(dis);
            if (dis == 'none') {
                $("#ss-" + n).css("display", "block");
                $("#sd-" + n).css("height", "auto");

            } else {
                $("#ss-" + n).css("display", "none");
                $("#sd-" + n).css("height", "0px");
            }
        }
        function ss_l_menu() {
            if ($(".ss-btn").hasClass("ww-100")) {
                $(".ss-btn").removeClass("ww-100");
                $(".l-menu").animate({ "left": "-400px" }, 300, "swing");
                $(".ss-btn").animate({ "left": "0px" }, 300, "swing");
                $(".ss-btn").html('<i class="fas fa-chevron-right"></i>')
            } else {
                $(".ss-btn").addClass("ww-100");
                $(".l-menu").animate({ "left": "0px" }, 300, "swing");
                $(".ss-btn").animate({ "left": "360px" }, 300, "swing");
                $(".ss-btn").html('<i class="fas fa-chevron-left"></i>')
            }

        }
        function ss_r_menu() {
            if ($(".ss-r-btn").hasClass("ww-100")) {
                $(".ss-r-btn").removeClass("ww-100");
                $(".r-menu").animate({ "right": "-400px" }, 300, "swing");
                $(".ss-r-btn").animate({ "right": "0px" }, 300, "swing");
                $(".ss-r-btn").html('<i class="fas fa-chevron-left"></i>')
            } else {
                $(".ss-r-btn").addClass("ww-100");
                $(".r-menu").animate({ "right": "0px" }, 300, "swing");
                $(".ss-r-btn").animate({ "right": "360px" }, 300, "swing");
                $(".ss-r-btn").html('<i class="fas fa-chevron-right"></i>')
            }

        }
        function hideresulte() {
            $("#Resulte").hide();
            $(".specify").show();
    }


    $(document).ready(function () {
        $("#selecttype").on('change', function () {
            var type = $("#selecttype").find(":selected").val();
            if (type == "none") {
                alert("กรุณาเลือกประเภท");
            }
            else if (type == "hire") {
            /*ไม่จัดทำ*/
               $("#okbtn").show();
                $("#Btnok").click(function () {
                    NotdoReport();
                });
            }
            else {
                $("#okbtn").hide();
                $("#numberofsuplots").show();
                $("#selectnumberofsuplots").on('change', function () {                     
                    var numberofsuplots = $("#selectnumberofsuplots").find(":selected").val();
                     if (numberofsuplots == "none") {
                         alert("กรุณาเลือกจำนวนแปลงย่อย");
                     }
                    else if (numberofsuplots == "less30") {
                        $("#areasize").show();/* ลุ่มน้ำชั้น 1*/
                         $("#selectareasize").on('change', function () {                            
                            var areasize = $("#selectareasize").find(":selected").val();
                             if (areasize == "none") {
                         alert("กรุณาเลือกขนาดพื้นที่");
                     }
                             else if (areasize == "less18") {
                                 $("#okbtn").show();
                                  $("#Btnok").click(function () {
                    $("#riverarea").hide();
                                $("#protectarea1").show();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                  $("#protectarea4").hide();
                                 $("#btnprotectarea1").click(function () {
                                    
                                    var protectarea1 = $("#selectprotectarea1").find(":selected").val();

                           if (protectarea1 == "none") {

                             alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม");

                            }
                          else if (protectarea1 == "1") {
                               $("#riverarea").show();
                               $("#btnriverarea").click(function () {
                                             
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                   if (riverarea == "none") {
                                       alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");
                                   }
                          else if (riverarea == "1") {
                                            /*EIA*/
                                       EIA();
                                            } else {
                                            /*IEE*/   
                                       IEE();

                                   }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                               $("#btnriverarea").click(function () {
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "none") {
                                                alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");
                                            }
                                            else if (riverarea == "1") {
                                                /*EIA*/
                                                EIA();

                                            }
                                            else {
                                                 /*ไม่จัดทำ*/
                                         NotdoReport();

                                            }
                                        });
                                    }
                                });
                });
                            }
                            else if (areasize == "18to19") {
                                 $("#okbtn").show();
                $("#Btnok").click(function () {
                    $("#protectarea2").show();
                                $("#protectarea1").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                $("#riverarea").hide();
                                 $("#btnprotectarea2").click(function () {
                                   
                                    var protectarea2 = $("#selectprotectarea2").find(":selected").val();
                                   if (protectarea2 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else  if (protectarea2 == "1") {
                                        $("#riverarea").show();
                                       $("#btnriverarea").click(function () {
                                           
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else  if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();

                                            } else {
                                            /*IEE*/
                                                
                                                       IEE();
                                                   
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                       $("#btnriverarea").click(function () {
                                          
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else  if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();

                                            } else {
                                                 /*ไม่จัดทำ*/
                                       NotdoReport();

                                            }
                                        });
                                    }
                                 });
                });

                            }
                             else if (areasize == "19to100") {
                                 $("#okbtn").show();
                $("#Btnok").click(function () {
                   $("#protectarea3").show();
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                 $("#btnprotectarea3").click(function () {
                                 
                                    var protectarea3 = $("#selectprotectarea3").find(":selected").val();
                                    if (protectarea3 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else  if (protectarea3 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                          
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else  if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();

                                            } else {
                                            /*IEE*/
                                                
                                                       IEE();
                                                   
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                           
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                             if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else  if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();

                                            } else {
                                                /*ไม่จัดทำ*/
                                        NotdoReport();
                                            }
                                        });
                                    }
                                });
                });
                            }
                            else if (areasize == "more100") {
                                $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                 $("#okbtn").show();
                                 $("#Btnok").click(function () {
                                     EIA();
                                 });
                            }
                        });

                    }
                    else if (numberofsuplots == "30to100") {
                         $("#areasize").show();/* ลุ่มน้ำชั้น 1*/
                         $("#selectareasize").on('change', function () {
                            var areasize = $("#selectareasize").find(":selected").val();
                              if (areasize == "none") {
                                  alert("กรุณาเลือกขนาดพื้นที่ ");
                              }
                              else if (areasize == "less18" || areasize == "18to19") {
                                  $("#okbtn").show();
                $("#Btnok").click(function () {
                      $("#protectarea2").show();
                                $("#protectarea1").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                $("#riverarea").hide();
                                  $("#btnprotectarea2").click(function () {
                                  
                                    var protectarea2 = $("#selectprotectarea2").find(":selected").val();
                                    if (protectarea2 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                          
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                          if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1 ");

                     }
                          else  if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();
                                            } else {
                                              /*IEE*/
                                              IEE();                                                   
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                           if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1 ");

                     }
                          else if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();

                                            } else {
                                                /*ไม่จัดทำ*/
                                        NotdoReport();

                                            }
                                        });
                                    }
                                });
                });

                              

                            }
                              else if (areasize == "19to100") {
                                  $("#okbtn").show();
                $("#Btnok").click(function () {
                    $("#protectarea3").show();
                                $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea4").hide();
                                $("#riverarea").hide();
                                  $("#btnprotectarea3").click(function () {
                                   
                                    var protectarea3 = $("#selectprotectarea3").find(":selected").val();
                                        if (protectarea3 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else   if (protectarea3 == "1") {
                                        $("#riverarea").show();
                                            $("#btnriverarea").click(function () {
                                            
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                                 if (riverarea == "none") {

                         alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1 ");

                     }
                          else  if (riverarea == "1") {
                                            /*EIA*/
                                            EIA();

                                            } else {
                                            /*IEE*/
                                                
                                                       IEE();
                                                   
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                            $("#btnriverarea").click(function () {
                                            
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                           if (riverarea == "none") {
                                               alert("กรุณาเลือกพื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1 ");
                                           }

                                           else if (riverarea == "1") {
                                            /*EIA*/
                                            EIA();

                                            } else {
                                                 /*ไม่จัดทำ*/
                                        NotdoReport();
                                            }
                                        });
                                    }
                                });
                });

                               
                            }
                            else {
                                $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                              $("#okbtn").show();
                $("#Btnok").click(function () {
                   EIA();
                });  
                            }
                        });
                    }
                    else if (numberofsuplots == "100to250") {
                        $("#areasize").show();
                         $("#selectareasize").on('change', function () {      
                            var areasize = $("#selectareasize").find(":selected").val();
                          if (areasize == "none") {
                         alert("กรุณาเลือกขนาดพื้นที่");
                     }
                          else if (areasize == "less18" || areasize == "18to19" || areasize == "19to100") {
                               $("#okbtn").show();
                $("#Btnok").click(function () {
                    $("#protectarea3").show();
                              $("#btnprotectarea3").click(function () {
                                  
                                    var protectarea3 = $("#selectprotectarea3").find(":selected").val();
                                   if (protectarea3 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else if (protectarea3 == "1") {
                                         $("#riverarea").show();
                                       $("#btnriverarea").click(function () {
                                           
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                           if (riverarea == "none") {

                         alert("กรุณาเลือก พื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else if (riverarea == "1") {
                                            /*EIA*/
                                            EIA();

                                            } else {
                                            /*IEE*/
                                                
                                                       IEE();
                                                   
                                            }
                                        });
                                    }
                                    else {
                                        $("#riverarea").show();
                                       $("#btnriverarea").click(function () {
                                           
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "1") {
                                            /*EIA*/
                                            EIA();

                                            } else {
                                                 /*ไม่จัดทำ*/
                                        NotdoReport();
                                            }
                                        });
                                    }

                                });
                });

                               
                            }  else {
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                               $("#okbtn").show();
                              $("#Btnok").click(function () {
                                  EIA();

                              });
                            }
                        });                               
                    }
                    else if (numberofsuplots == "250to500") {
                        $("#areasize").show();
                         $("#selectareasize").on('change', function () { 
                            var areasize = $("#selectareasize").find(":selected").val();
                          if (areasize == "none") {
                         alert("กรุณาเลือกขนาดพื้นที่");
                     }
                          else if (areasize == "less18") {
                               $("#okbtn").show();
                              $("#Btnok").click(function () {  
                                  $("#protectarea4").show();
                              $("#btnprotectarea4").click(function () {
                                    var protectarea4 = $("#selectprotectarea4").find(":selected").val();
                                    if (protectarea4 == "none") {
                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else if (protectarea4 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                            
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                            if (riverarea == "none") {

                         alert("กรุณาเลือก พื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else if (riverarea == "1") {
                                            /*EIA*/
                                           EIA();

                                            } else {
                                            /*IEE*/
                                                
                                                       IEE();
                                                    }
                                        });
                                    }
                                    else {
                                        $("#riverarea").hide();
                                        $("#protectarea5").show();
                                        $("#btnprotectarea5").click(function () {
                                           
                                            var protectarea5 = $("#selectprotectarea5").find(":selected").val();
                                           if (protectarea5 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else  if (protectarea5 == "2") {
                                                $("#riverarea").show();
                                               $("#btnriverarea").click(function () {
                                                     
                                                    var riverarea = $("#selectriverarea").find(":selected").val();
                                                   if (riverarea == "none") {

                         alert("กรุณาเลือก พื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else if (riverarea == "1") {
                                                        /*EIA*/
                                                       EIA();

                                                    } else {
                                                            /*ไม่จัดทำ*/
                                                       NotdoReport();
                                                    }
                                                });
                                            }
                                            else {
                                                /*ลุ่มน้ำ*/
                                                       EIA();

                                            }
                                        });
                                    }

                                });
                              });
                            }
                            else if (areasize == "18to19" || areasize == "19to100") {
                                $("#protectarea4").show();
                              $("#btnprotectarea4").click(function () {
                                   
                                    var protectarea4 = $("#selectprotectarea4").find(":selected").val();
                                    if (protectarea4 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else if (protectarea4 == "1") {
                                        $("#riverarea").show();
                                        $("#btnriverarea").click(function () {
                                           
                                            var riverarea = $("#selectriverarea").find(":selected").val();
                                           if (riverarea == "none") {

                         alert("กรุณาเลือก พื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else if (riverarea == "1") {
                                            /*EIA*/
                                            EIA();
                                            } else {
                                               /*IEE*/
                                               IEE();
                                           }
                                        });
                                    }
                                    else {
                                        $("#riverarea").hide();
                                        $("#protectarea5").show();
                                        $("#btnprotectarea5").click(function () {
                                          
                                            var protectarea5 = $("#selectprotectarea5").find(":selected").val();
                                            if (protectarea5 == "none") {

                         alert("กรุณาเลือกพื้นที่คุ้มครองสิ่งแวดล้อม ");

                     }
                          else if (protectarea5 == "2") {
                                                $("#riverarea").show();
                                                $("#btnriverarea").click(function () {
                                                  
                                                    var riverarea = $("#selectriverarea").find(":selected").val();
                                                   if (riverarea == "none") {

                         alert("กรุณาเลือก พื้นที่ชั้นคุณภาพลุ่มน้ำ ชั้น 1");

                     }
                          else if (riverarea == "1") {
                                                        /*EIA*/
                                                        EIA();

                                                    } else {
                                                       /*IEE*/
                                                       IEE();
                                                   }
                                                });
                                            }
                                            else {
                                                /*ลุ่มน้ำ*/
                                                        EIA();
                                            }
                                        });
                                    }
                                });
                            }
                            else {
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                 $("#riverarea").hide();
                                $("#okbtn").show();
                              $("#Btnok").click(function () {
                                  EIA();
                              });
                                 }
                        });
                    }
                    else if (numberofsuplots == "more500") {
                                 $("#areasize").hide();
                                 $("#protectarea1").hide();
                                $("#protectarea2").hide();
                                $("#protectarea3").hide();
                                $("#protectarea4").hide();
                                $("#protectarea5").hide();
                                 $("#riverarea").hide();
                         $("#okbtn").show();
                              $("#Btnok").click(function () {
                                  EIA();
                              });
                    }   
                });
            }
        });
    });


    function EIA() {
        $(".specify").hide();
             $("#inresulte").show();
             $("#Resulte").show();
             document.getElementById('changeLabel').innerHTML = "เข้าข่าย";
             document.getElementById('changeLabel').style.color = 'Red';
             document.getElementById('labeltype').innerHTML = "รายงานการประเมินผลกระทบสิ่งแวดล้อม (EIA)";
             document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
             document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำ EIA (ลำดับที่ 27)";
    }
    function IEE() {        
            $(".specify").hide();
            $("#inresulte").show();
            $("#Resulte").show();
            document.getElementById('changeLabel').innerHTML = "เข้าข่าย";
            document.getElementById('changeLabel').style.color = 'Red';
            document.getElementById('labeltype').innerHTML = "รายงานผลกระทบสิ่งแวดล้อมเบื้องต้น (Initial Environmental Examination; IEE)";
            document.getElementById('labeloffer').innerHTML = "สำนักงานนโยบายและแผนทรัพยากรธรรมชาติและสิ่งแวดล้อม (สผ.)";
            document.getElementById('labellaw').innerHTML = "ประกาศกระทรวงทรัพยากรธรรมชาติและสิ่งแวดล้อม เรื่อง กำหนดโครงการ กิจการหรือการดำเนินการ ซึ่งต้องจัดทำEIA (ลำดับที่ 27) http:// www.xxxx.co.th /DATA/PDF/2562/E/003?T_0001.PDF ";
    }
    function NotdoReport() {
         /* ไม่ต้องจัดทำรายงาน */
            $(".specify").hide();
            $("#inresulte").hide();
             $("#Resulte").show();
             document.getElementById('changeLabel').innerText = "ไม่เข้าข่าย";
             document.getElementById('changeLabel').style.color = 'Green';
            $("#b1").hide();
    }
</script>