
@{
    ViewBag.Title = "PTT Smart EIA Regulatory";
    Layout = "~/Views/Shared/Register_Layout.cshtml";
}
<head>
    <style>
        #hh{
            line-height:1;
        }
    </style>
</head>
    <div class="regis-secsion">
        <div class="sys-text">
                        <p class="text-porp" id="hh">
                            Smart Project Environmental 
                        <br />
                         Management System</p>
        </div>
        <div class="login-header">
            <p>
                ลงทะเบียนผู้ใช้งาน
            </p>
        </div>
        <div class="row mr-0">
            <div class="col-12 w-100">
                <div class="register-box col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        หน่วยงาน :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        ชื่อ (ไทย) :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        นามสกุล (ไทย) :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        เลขประจำตัวประชาชน :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        อีเมล :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        โทรศัพท์มือถือ :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                            <div class="row mr-input">
                                <div class="col-md-5">
                                    <p class="inputlabel">
                                        โทรศัพท์ :
                                    </p>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="" id="" class="input-regis">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="regis-btn">
                    <a href="/SmartEIA/Login"><button class="confirm-btn">ยืนยัน</button></a>
                </div>
            </div>
        </div>
    </div>

